<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap"
            rel="stylesheet"
        />
        <title>Document</title>
        <style>
            * {
                margin: 0;
                padding: 0;
            }
            html,
            body {
                height: 100%;
                margin: 0;
                padding: 0;
                background-image: url("http://127.0.0.1:8080/v1/files/70b194a3-b59e-4225-8ec0-b83990a0ead7");
                background-repeat: no-repeat;
                background-size: cover;
            }
        </style>
    </head>
    <body>
        <div style="position: relative; font-family: Prompt">
            <div
                style="
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 40px;
                    padding-top: 40px;
                "
            >
                <img
                    style="width: auto; height: 95px; margin-top: 20px"
                    src="http://127.0.0.1:8080/v1/files/60f9a77b-867f-4475-b095-6a280433b595"
                    alt=""
                />
                <img
                    style="width: auto; height: 145px;margin-left: 20px;margin-right: 20px;"
                    src="http://127.0.0.1:8080/v1/files/78564097-2427-4531-8cf5-0ede26de80ce"
                    alt=""
                />
                <img
                    style="width: auto; height: 145px"
                    src="http://127.0.0.1:8080/v1/files/f9ab1213-8a08-4639-8cca-047279b5bcc0"
                    alt=""
                />
            </div>

            <div style="text-align: center; font-size: 30px; font-weight: 600">
                สมาคมยานยนต์ไฟฟ้าไทย
            </div>
            <div style="text-align: center; font-size: 30px; font-weight: 600">
                ร่วมกับการไฟฟ้าฝ่ายผลิตแห่งประเทศไทย
            </div>
            <div style="text-align: center; font-size: 23px; font-weight: 600">
                ขอมอบเกียรติบัตรนี้เพื่อแสดงว่า
            </div>
            <div
                style="
                    text-align: center;
                    font-size: 30px;
                    font-weight: 600;
                    padding: 26px 0px;
                "
            >
                นายพงศ์คเณศ แก้วฤทธิ์​
            </div>
            <div style="text-align: center; font-size: 25px; font-weight: 600">
                ได้เข้าร่วมกิจกรรม
            </div>
            <div style="text-align: center; font-size: 25px; font-weight: 600">
                โครงการแข่งขันรถจักรยานยนต์ไฟฟ้าดัดแปลงเพื่อธุรกิจแห่งอนาคต
                ครั้งที่ 2
            </div>
            <div style="text-align: center; font-size: 24px; font-weight: 500">
                (2<span
                    style="
                        /* align-items: start; */
                        font-size: 15px;
                        position: relative;
                        top: -8px;
                        left: 1px;
                        /* display: flex */
                    "
                    >nd</span
                >
                EVAT x EGAT Electric Motorcycle Conversion Contest for Business
                Opportunity)
            </div>
            <div style="text-align: center; font-size: 25px; font-weight: 600">
                วันที่ 19-21 พฤษภาคม พ.ศ. 2566
            </div>
            <div
                style="
                    text-align: center;
                    font-size: 20px;
                    font-weight: 600;
                    padding-top: 35px;
                "
            >
                ให้ไว้ ณ วันที่ 21 พฤษภาคม พ.ศ. 2566
            </div>
            <div style="margin-top: 10px">
                <div style="left: 310px; position: absolute">
                    <img
                        src="http://127.0.0.1:8080/v1/files/9cf71070-7039-462c-bed2-53fc8b8eda02"
                        width="320"
                        style="margin-top: -30px"
                        alt=""
                    />
                    <div style="margin-top: -15px">
                        <div
                            style="
                                font-size: 25px;
                                font-weight: 500;
                                margin-left: 40px;
                            "
                        >
                            นายกฤษฎา อุตตโมทย์
                        </div>
                        <div
                            style="
                                font-size: 18px;
                                font-weight: 500;
                                margin-left: 40px;
                            "
                        >
                            นายกสมาคมยานยนต์ไฟฟ้าไทย
                        </div>
                    </div>
                </div>
                <div style="right: 310px; position: absolute">
                    <img
                        src="http://127.0.0.1:8080/v1/files/480bb848-77b0-4678-b56b-19221781a20c"
                        width="320"
                        style="margin-top: -30px"
                        alt=""
                    />
                    <div style="margin-top: -15px">
                        <div
                            style="
                                font-size: 25px;
                                font-weight: 500;
                                margin-left: 14px;
                            "
                        >
                            นายบุญญนิตย์ วงศ์รักมิตร
                        </div>
                        <div
                            style="
                                font-size: 18px;
                                font-weight: 500;
                                margin-left: 4px;
                            "
                        >
                            ผู้ว่าการการไฟฟ้าฝ่ายผลิตแห่งประเทศไทย
                        </div>
                    </div>
                </div>
            </div>

            <div style="right: 0; position: absolute; margin-top: 200px">
                <img src="http://127.0.0.1:8080/v1/files/2a872b31-463e-4962-8ec8-530ba246e7fe" width="240" alt="" />
            </div>
        </div>
    </body>
</html>
